// Este es el subtítulo de la foto de las comidas (del index.html) //
.img-subtitle{
    background-color: $dark-blue;
    color: $cool-white;

    
}
// Esto son los estilos de las fotos y párrafos del html "Eventos & Promociones"
.tematica-div{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;

    &.tematica-div p{
    border: 3px solid black;
    padding: 30px;

}
}
.banco-section{
    display: flex;
    justify-content: space-around;
.banco-img{
@include logos-bancos (80px, 80px)
}
}
// Acá van los estilos del html "Opiniones & Contacto" //

.foto-usuarios-div{
    display: flex;
    .foto-usuarios{
    width: 75px;

}
}
.comparte-tu-experiencia-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-blue;
    color: $cool-white;
}
.icon-section{
    display: flex;
    flex-direction: row-reverse;
    &.icon-section img{
    width: 50px;
    margin: 40px;
}
}



