.hacer-una-reserva-button{
    background-color: $cool-red;
    color: #FDF0D5;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin: 50px;
    margin-left: 50px;
}
.ver-menu-button{
    background-color: $cool-red;
    color: #FDF0D5;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin: 40px 144px;
}
